<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Agentic AI Stock Research Assistant</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>
<div class="container">
    <h1>
        Agentic AI Stock Research Assistant
    </h1>
    <p>
        Analyze stocks using AI agents,
        financial data, and market intelligence.
    </p>
    <div class="search-box">
        <input 
            id="ticker"
            type="text"
            placeholder="Enter ticker (AAPL, NVDA)"
        >

        <button id="analyzeBtn">
            Analyze
        </button>
    </div>
    <hr>
    <div id="results">
    </div>
</div>

<script src="/static/js/app.js"></script>
</body>
</html>